.rightbar{
    flex: 3.5;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.eventContainer{
    display: flex;
    align-items: center;
}

.starImg{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.eventText {
    font-size: 16px;
    font-weight: 300;
}

.eventImg{
    width: 100%;
    border-radius: 10px;
    margin: 25px 0;
}

.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarUsername {
    font-weight: 550;
}

.rightbarOnline {
    background-color: palevioletred;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    border: 2px solid white;
}

.promotionTitle {
    font-size: 18px;
    font-weight: 550;
    margin-top: 50px;
    margin-bottom: -10px;
}

.promotionImg {
    width: 85%;
    border-radius: 10px;
    margin: 25px 0;
}

.promotionName {
    font-size: 16px;
    color: gray;
    margin-top: -20px;
}

.rightbarTittle {
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 10px;
}

.rightbarInfo {
    /* display: flex;
    align-items: center; */
    margin-bottom: 30px;
}

.rightbarInfoKey {
    font-weight: 550;
    color: gray;
    margin-right: 5px;
}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg {
    width: 60px;
    height: 60px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 5px;
}

.rightbarFollowingName {
    font-size: 14px;
}
