.rightbar{
    width: 25%;
    min-width: 25vw; /* 最小幅を設定 */
    background-color: #ffffff;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 60px; /* Topbarの高さ分だけ下げる */
    height: calc(100vh - 60px); /* Topbarの高さを引いた分の高さを設定 */
    overflow-y: auto;
}

.eventContainer{
    display: flex;
    align-items: center;

}

.starImg{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.eventText {
    font-size: 16px;
    font-weight: 300;
}

.eventImg{
    width: 100%;
    border-radius: 10px;
    margin: 25px 0;
}

.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarUsername {
    font-weight: 550;
}

.rightbarOnline {
    background-color: rgb(26, 151, 168);
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    border: 2px solid white;
}

.promotionTitle {
    font-size: 18px;
    font-weight: 550;
    margin-top: 50px;
    margin-bottom: -10px;
}

.promotionImg {
    width: 85%;
    border-radius: 10px;
    margin: 25px 0;
}

.promotionName {
    font-size: 16px;
    color: gray;
    margin-top: -20px;
}

.rightbarTitle {
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 10px;
}

.rightbarFriends {
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 10px;
    margin-top: 20px;
}

.rightbarInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rightbarInfoItem {
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: flex-start;
    padding: 5px 5px;
    border-bottom: 1px solid #e0e0e0;
}

.rightbarInfoKey {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px; /* キーと値の間に余白を追加 */
}

.rightbarInfoValue {
    color: #555;
    font-size: 16px; /* 値を少し大きく */
    line-height: 1.5; /* 行間を広げて見やすく */
}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}

.rightbarFollowingImg {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 5px;
}

.rightbarFollowingName {
    font-size: 14px;
}
