.post {
    width: 95%;
    box-shadow: 0px 0px 5px 0px #819fc5;
    border-radius: 10px;
    margin: 15px 0;
    margin-left: 10px;
}

.postWrapper {
    padding: 10px;
}

.postProfileImg {
    border: 1px solid rgb(1, 80, 75);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postUsername {
    font-size: 15px;
    font-weight: 550;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
    color: gray;
}

.postCenter {
    margin: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.postText {
    font-size: 18px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.postBottomLike {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.likeIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.postBottomComment {
    display: flex;
    align-items: center;
}

.commentIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText {
    cursor: pointer;
    margin-right: 5px;
}
