.post {
    width: 95%;
    box-shadow: 0px 0px 5px 0px #819fc5;
    border-radius: 10px;
    margin: 15px 0;
    margin-left: 10px;
}

.postWrapper {
    padding: 10px;
}

.postProfileImg {
    border: 1px solid rgb(1, 80, 75);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postUsername {
    font-size: 15px;
    font-weight: 550;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
    color: gray;
}

.postCenter {
    margin: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.postText {
    font-size: 18px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.postBottomRight {
    display: flex;
    align-items: center;
}

.reactionItem {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
}

.counter {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgb(227, 226, 226);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.detailButton {
    background-color: #0096b2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.detailButton:hover {
    background-color: #b2f1fe;
    color: rgb(73, 73, 73);

}
