.profile {
    display: flex;
}

.profileRight {
    flex: 10.5;
}

.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg {
    border: 1px solid rgb(1, 80, 75);
    position: absolute;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    top: 150px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName {
    font-size: 30px;
    margin-top: 40px;
    font-weight: 550;
}

.profileRightTop {
    margin-bottom: 40px;
}

.profileRightBottom {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
